<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
	<div class="card">
		<div class="card-header bg-primary text-center text-white">
			<h3>CategoryType Register</h3>
		</div>
		<div class="card-body">
			<form th:action="@{/categorytype/save}" method="POST">
				<!--row#1-->
				<div class="row">
					<div class="col-2">
						<label for="name">Name</label>
					</div>
					<div class="col-4">
						<input type="text" name="name" id="name" class="form-control" />
					</div>
					<div class="col-6">
						<span id="nameError"></span>
					</div>
				</div>
				<!--row#2-->
				<div class="row">
					<div class="col-2">
						<label for="note">Note</label>
					</div>
					<div class="col-4">
						<input type="text" name="note" id="note" class="form-control" />
					</div>
					<div class="col-6">
						<span id="noteError"></span>
					</div>
				</div>
				<button type="submit" class="btn btn-success">Create <i class="fa fa-plus-square"
						aria-hidden="true"></i></button>
			</form>
		</div>
		<div th:if="${message!=null}" class="card-footer bg-white text-info">
			<span th:text="${message}"></span>
		</div>
	</div>
	</div>
	<!--//<script th:src="@{/myjs/uploadImgBb.js}"></script>-->
</body>

</html>