<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h1>Welcome to Category Register Page</h1>
			</div>
			<div class="card-body">
				<form id="mycategoryForm" th:action="@{/category/save}" method="POST">
					<!--new Row -->
					<div class="row">
						<div class="col-4">
							<label for="name"> NAME</label>
						</div>
						<div class="col-4">
							<input type="text" name="name" class="form-control" />
						</div>
						<div class="col-4" id="nameError">
						</div>
					</div>
					<!--new Row -->
					<div class="row">
						<div class="col-4">
							<label for="alias"> ALIAS</label>
						</div>
						<div class="col-4">
							<input type="text" name="alias" class="form-control" />
						</div>
						<div class="col-4" id="aliasError">
						</div>
					</div>
					<!--new Row -->
					<div class="row">
						<div class="col-4">
							<label for="categoryType"> TYPE</label>
						</div>
						<div class="col-4">
							<select name="categoryType.id" id="categoryType" class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="ob:${categoryTypes}" th:text="${ob.value}" th:value="${ob.key}">
								</option>
							</select>
						</div>
						<div class="col-4" id="categoryTypeError">
						</div>
					</div>
					<!--new Row -->
					<div class="row">
						<div class="col-4">
							<label for="status"> STATUS</label>
						</div>
						<div class="col-4">
							<input type="radio" name="status" value="ACTIVE" /> ACTIVE
							<input type="radio" name="status" value="INACTIVE" /> INACTIVE
						</div>
						<div class="col-4" id="statusError">
						</div>
					</div>
					<!--new Row -->
					<div class="row">
						<div class="col-4">
							<label for="note"> NOTE</label>
						</div>
						<div class="col-4">
							<textarea name="note" class="form-control"></textarea>
						</div>
						<div class="col-4" id="noteError">
						</div>
					</div>
					<input type="submit" value="Register" class="btn btn-success" />
				</form>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b>
			</div>
		</div>
	</div>
</body>

</html>