<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
	<div class="card">
		<div class="card-header bg-primary text-center text-white">
			<h3>User Register</h3>
		</div>
		<div class="card-body">
			<form th:action="@{/user/save}" method="POST">
				<!--row#1-->
				<div class="row">
					<div class="col-2">
						<label for="uName">UserName</label>
					</div>
					<div class="col-4">
						<input type="text" name="uName" id="uName" class="form-control" />
					</div>
					<div class="col-6">
						<span id="uNameError"></span>
					</div>
				</div>
				<!--row#2-->
				<div class="row">
					<div class="col-2">
						<label for="email">Email</label>
					</div>
					<div class="col-4">
						<input type="text" name="email" id="email" class="form-control" />
					</div>
					<div class="col-6">
						<span id="emailError"></span>
					</div>
				</div>
				<!--row#3-->
				<div class="row">
					<div class="col-2">
						<label for="mobile">Mobile</label>
					</div>
					<div class="col-4">
						<input type="text" name="mobile" id="mobile" class="form-control" />
					</div>
					<div class="col-6">
						<span id="mobileError"></span>
					</div>
				</div>
				<!--row#4-->
				<div class="row">
					<div class="col-2">
						<label for="gender">Gender</label>
					</div>
					<div class="col-4">
						<input type="radio" name="gender" id="gender1" value="Male" /> Male
						<input type="radio" name="gender" id="gender2" value="Female" /> Female
					</div>
					<div class="col-6">
						<span id="genderError"></span>
					</div>
				</div>
				<!-- row# 5-->
				<div class="row">
					<div class="col-2">
						<label for="dob">Dob</label>
					</div>
					<div class="col-4">
						<input type="date" name="dob" id="dob" class="form-control" />
					</div>
					<div class="col-6">
						<span id="dobError"></span>
					</div>
				</div>
				<button type="submit" class="btn btn-success">Create <i class="fa fa-plus-square"
						aria-hidden="true"></i></button>
			</form>
		</div>
		<div th:if="${message!=null}" class="card-footer bg-white text-info">
			<span th:text="${message}"></span>
		</div>
	</div>
	</div>
	<script th:src="@{/myjs/uploadImgBb.js}"></script>
</body>

</html>